.foods {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  animation: foods-appear 1s ease-out forwards;
}

.foods ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dualring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.dualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #383838;
  border-color: #383838 transparent #383838 transparent;
  animation: dualring 1.2s linear infinite;
}
.mealsError {
  text-align: center;
  color: red;
}
@keyframes dualring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes foods-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
